! ########## Colors ###########


*background:	#1A2026
*foreground:	#538CC6
*cursorColor:	#FFC299
*color0:	#3D4C5F
*color1:	#985EFF
*color2:	#A1EFD3
*color3:	#F1FA8C
*color4:	#FFCBB3
*color5:	#FFCBB3
*color6:	#87DFEB
*color7:	#FF80FF
*color8:	#56687E
*color9:	#FFD1B3
*color10:	#B3FFF0
*color11:	#F1FF52
*color12:	#24D1E7
*color13:	#BD99FF
*color14:	#FFB3B3
*color15:	#92B6F4



Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

xcursor.theme:            Vanilla-DMZ
xscreensaver.fade:   false
xscreensaver.unfade: false


! ################ Urxvt Config ###################


URxvt.scrollBar: off
URxvt.font: xft:Fira Code Nerd Font:size=8:minspace=False,\
            xft:Symbola:size=11
URxvt.letterSpace: 0
URxvt.internalBorder:    22
URxvt.imLocale: en_US.UTF-8






